{% load static %}

<div class="fixed h-screen bg-gray-100 right-0 z-10 overflow-auto top-0 duration-500 ease-in-out drop-shadow-2xl translate-x-full" id="bucket" style="width: 44%;">
  <div class="w-full my-5 flex flex-row">
    <div class="text-center m-auto">Mon pense-bête</div>
    <a class="left-0 hover:cursor-pointer mr-2 p-3 rounded-lg" id="close_bucket"><img src="{% static 'logo/hide.png' %}" class="hover:bg-slate-200" width="30" height="30" title="Close" alt="close" /></a>
  </div>
  {% include 'module/button.html' with title='Tout retirer' bg='bg-red-300' bghover='hover:bg-red-400' custom='float-right' id='remove_all' content='Tout retirer' %}
  <table class="border-slate-300 table-auto w-full rounded-lg" id="dropzone">
    <tr id="bucket_array_header" class="m-auto hidden">
      <td class="p-2.5 text-center" style="width: 120px">Localisation</td>
      <td class="p-2.5 text-center" style="width: 80px">Fraction</td>
      <td style="width: 80px" class="p-2.5 text-center">Patient</td>
      <td class="p-2.5 text-center">Organe</td>
      <td class="p-2.5 text-center">Objectif</td>
      <td class="p-2.5 text-center">Contrainte</td>
    </tr>
    <td id="no_indication">
      <p class="text-center text-gray-500">Glissez et déposez vos indications ici</p>
    </td>
  </table>
</div>
