<!-- Modal Add indication -->
<div class="invisible max-h-modal w-2/3 bg-white z-3 fixed top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 rounded-lg border border-slate-600 overflow-y-auto drop-shadow-2xl" id="modal_indication">
<div class="flex flex-col p-2.5">
    <form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div class="m-3">
        <label>Etude clinique</label>
        <input id="is_clinical" name="is_clinical" type="checkbox" />
    </div>
    <div id="loca_frac_container">
        {% include 'module/keys_lists.html' with id='0' %}
    </div>
    <div>
        {% include 'module/button_pos_neg.html' with id='0' main_type='loca_frac' button_right='Ajouter' button_left='Retirer' %}
    </div>
    <div id="organs_div" class="mb-2.5">
        {% include 'module/organ.html' with id='0' main_type='organ_container-' disabled=False hidden=False %}
    </div>
    <div class="border border-slate-400 p-2.5">
        <label class="p-2.5">Référence</label>
        <div class="pl-2.5">
        <div class="pl-2.5">
            {% include 'module/reference.html' with id='' type='main_reference' disabled=False %}
        </div>
        </div>
    </div>

    <!-- center -->
    <div class="flex">
        {% include 'module/button_pos_neg.html' with main_type='submit' type='submit' button_left='Annuler' button_right='Valider' type='submit' %}
    </div>
    </form>
</div>
</div>